# Ignore model file (very large)
Backend/model/alzheimer_Model_final.h5

# Ignore dataset folder (images, etc.)
Backend/dataset/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Python cache files (if any)
__pycache__/
*.pyc

# Ignore VSCode settings (optional)
.vscode/
